<div class="w-50 p-3">
    <form action="/api/books" method="get">
      <div class="form-group">
        <label >Search books based on:</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Title">
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Search!</button>
  </form>
</div>
