<div>
    <form action="/api/books" method="get">
      <div class="form-group">
        <label for="title">Search by title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="title" required>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Search books!</button>
  </form>
</div>


